body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffe6dc;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.navbar {
  background-color: #b51616;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
}

.navbar-content {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  margin-right: 600px;
}

.back-button {
  background-color: #b51616;
  color: white;
  border: none;
  font-size: 50px;
  cursor: pointer;
  margin-right: 4px;
  font-weight: bold;
}

table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #fff;
  font-size: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  text-align: left;
  padding: 12px 15px;
  border: 1px solid #ddd;
}

th {
  background-color: #b51616;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

td {
  font-weight: normal;
}

.add-button {
  background-color: #3bcc2e;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.add-button:hover {
  background-color: #34a62a;
  transform: scale(1.1);
}
