body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffe6dc;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.navbar {
  background-color: #b51616;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
}

.navbar-content {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  margin-right: 1450px;
}

.back-button {
  background-color: #b51616;
  color: white;
  border: none;
  font-size: 50px;
  cursor: pointer;
  margin-right: 8px;
  font-weight: bold;
}

.edit-button {
  background-color: #b51616;
  color: white;
  border: none;
  font-size: 30px;
  font-weight: bold;
  padding: 8px 16px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #9f1212; /* Slightly darker red on hover */
  transform: scale(1.1); /* Slightly enlarge the button on hover */
}

.form-container {
  width: 100%;
  max-width: 600px; /* Restrict max width of form */
  padding: 20px;
  background-color: #ffe6dc;
  box-sizing: border-box; /* Prevent overflow */
  margin: 20px 0; /* Add spacing at the top and bottom */
}

.employee-view {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.employee-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.field-label {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.field-value {
  font-size: 16px;
  padding: 10px 0;
  border-bottom: 2px solid black;
  color: black;
}
.employee-field:last-child .field-value {
  border-bottom: none; /* Remove the bottom border for the PIN field */
}

.employee-icon {
  position: absolute;
  width: 48.75px;
  height: 27.08px;

  background: #000000;
}

.icon nav-bar {
  font-size: 60px;
  margin-right: 15px;
  color: #ffffff;
}

.icon {
  font-size: 18px;
  margin-right: 15px;
  color: #3f3f3f;
}
