<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Employee</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'employee-view.css' %}" />
  </head>
  <body>
    <div class="app-container">
      <div class="navbar">
        <div class="navbar-content">
          <div class="back-button">
            <button
              class="back-button"
              onclick="window.location.href='/employee-list/';"
            >
              <
            </button>
          </div>

          <span class="logo">View Employee</span>
          <div class="edit-button">
            <button
              class="edit-button"
              onclick="window.location.href='/employee-edit/{{employee.id}}';"
              style="cursor: pointer"
            >
              Edit
            </button>
          </div>
        </div>
      </div>

      <div class="form-container">
        <div class="employee-view">
          <div class="employee-field">
            <label class="field-label">Username</label>
            <span class="field-value">{{ employee.person.username }}</span>
          </div>
          <div class="employee-field">
            <label class="field-label">Name</label>
            <span class="field-value"
              >{{ employee.person.first_name }} {{employee.person.last_name}}
            </span>
          </div>
          <div class="employee-field">
            <label class="field-label">Email</label>
            <span class="field-value">{{ employee.person.email }}</span>
          </div>
          <div class="employee-field">
            <label class="field-label">Contact Number</label>
            <span class="field-value"
              >{{ employee.person.contact_number }}</span
            >
          </div>
          <div class="employee-field">
            <label class="field-label">Role</label>
            <span class="field-value"> {{ employee.role.role_name }} </span>
          </div>
          <div class="employee-field">
            <label class="field-label">PIN</label>
            <span class="field-value">{{ employee.pin }}</span>
            <!-- Adjust based on actual field name -->
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
