<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Employee</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'employee-create.css' %}" />
  </head>
  <body>
    <div class="app-container">
      <div class="navbar">
        <div class="navbar-content">
          <div class="back-button">
            <button
              class="back-button"
              onclick="window.location.href='/employee-list/';"
            >
              <
            </button>
          </div>

          <span class="logo">Create Employee</span>
        </div>
      </div>

      <div class="form-container">
        <form method="POST" action="{% url 'employee-create' %}">
          {% csrf_token %}
          <div class="employee-form">
            <label>Username</label>
            {{ person_form.username }}
          </div>
          <div class="employee-form">
            <label>First Name</label>
            {{ person_form.first_name }}
          </div>
          <div class="employee-form">
            <label>Last Name</label>
            {{ person_form.last_name }}
          </div>
          <div class="employee-form">
            <label>Email</label>
            {{ person_form.email }}
          </div>
          <div class="employee-form">
            <label>Contact Number</label>
            {{ person_form.contact_number }}
          </div>

          <div class="employee-form">
            <label>PIN</label>
            {{ employee_form.pin }}
          </div>

          <!-- Save button inside the form -->
          <button type="submit" class="save-button">Save</button>
        </form>
      </div>
    </div>
  </body>
</html>
