<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}" />
  </head>
  <body>
    <div class="app-container">
      <div class="navbar">
        <div class="navbar-content">
          <span class="icon">&#9776;</span>
          <span class="logo">View Employee</span>
          <div class="edit-button"></div>
        </div>
      </div>

      <!-- Content -->
      <div class="content">
        <ul class="list">
          <li class="list-item">
            <span class="icon">&#9776;</span>
            <a
              href="#"
              class="link"
              onclick="window.location.href='/employee-list/';"
              >Employee List</a
            >
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
