<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Role List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'role-list.css' %}" />
  </head>
  <body>
    <div class="app-container">
      <div class="navbar">
        <div class="navbar-content">
          <div class="back-button">
            <button class="back-button" onclick="window.location.href='/';">
              <
            </button>
          </div>

          <span class="logo">Roles</span>
        </div>
      </div>

      <div class="role-list-container">
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th>Role</th>
                <th>Employees</th>
              </tr>
            </thead>
            <tbody>
              {% for role, count in roles_with_counts.items %}
              <tr
                onclick="window.location.href='/role-view/{{role.id}}';"
                style="cursor: pointer"
              >
                <td>{{ role.role_name }}</td>
                <td>{{ count }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <button
        class="add-button"
        onclick="window.location.href='/role-create/';"
      >
        +
      </button>
    </div>
  </body>
</html>
