<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Role</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'role-create.css' %}" />
  </head>
  <body>
    <div class="app-container">
      <div class="navbar">
        <div class="navbar-content">
          <div class="back-button">
            <button
              class="back-button"
              onclick="window.location.href='/role-list/';"
            >
              <
            </button>
          </div>

          <span class="logo">Create Role</span>
          <div class="edit-button">
            <button
              class="edit-button"
              onclick="window.location.href='/role-edit/{{role.id}}';"
              style="cursor: pointer"
            >
              Save
            </button>
          </div>
        </div>
      </div>

      <div class="form-container">
        <div class="role-view">
          <div class="role-field">
            <label class="field-label">Name of Role</label>
            <span class="field-value">{{ role.person.username }}</span>
          </div>
          <div class="role-field">
            <label class="field-label">Ordering System and POS</label>
            <label class="toggle">
              <input type="checkbox" />
              <span class="slider"></span>
            </label>
          </div>
          <div class="role-field">
            <label class="field-label">Inventory Management System</label>
            <label class="toggle">
              <input type="checkbox" />
              <span class="slider"></span>
            </label>
          </div>
          <div class="role-field">
            <label class="field-label">Financial Management System</label>
            <label class="toggle">
              <input type="checkbox" />
              <span class="slider"></span>
            </label>
          </div>
          <div class="role-field">
            <label class="field-label">Booking Management System</label>
            <label class="toggle">
              <input type="checkbox" />
              <span class="slider"></span>
            </label>
          </div>
          <div class="role-field">
            <label class="field-label">Employee Management System</label>
            <label class="toggle">
              <input type="checkbox" />
              <span class="slider"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
